////////////////////
// Main FONTS
////////////////////

$font-main = OpenSans
$font-main-path = "fonts/OpenSans-Regular"
$fonr-main-version = "2.0"

@font-face
  font-family: OpenSans
  font-style: normal
  font-weight: normal
  src: url($font-main-path + ".ttf?v=#" + $font-main-version)
  src: url($font-main-path + ".ttf?v=#" + $font-main-version) format("truetype")

$main
  font-family: 'OpenSans', "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei","微软雅黑", STXihei, "华文细黑", sans-serif
  font-size: 14px