////////////////////////////////////////////////////////////////////////////////
// Material Theme Lighter Colors
////////////////////////////////////////////////////////////////////////////////
$red       = #E91E63;
$pink      = #FF5370;
$orange    = #F76D47;
$yellow    = #FFB62C;
$green     = #91B859;
$green-success = #4CAF50;
$pale-blue = #8796B0;
$cyan      = #39ADB5;
$blue      = #6182B8;
$purple    = #7C4DFF;
$violet    = #945EB8;
$brown     = #ab7967;